<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <span>Logo</span>
    <nav>
        <% if(!user){ %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <% }else { %>
                <a href="/logout">Logout</a>
                <a href="/profile">profile</a>
                <% } %>
    </nav>
</header>