<%- include("./partials/header"); %>
   <main>
      <div class="container">
         <div class="in-center">
         <form action="/auth/login" method="post">
            <label>Email</label>
            <input type="text" name="email" required>
            <label>Password</label>
            <input type="password" name="password"  required>
            <button>Login</button>
         </form>
      </div>
      </div>
   </main>
   <%- include("./partials/footer"); %>